

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.s1 {
    background-color: #20a8d8;
}
.s2 {
    background-color: #63c2de;
}
.s3 {
    background-color: #f8cb00;
}
.s4 {
    background-color: #f86c6b;
}













